#bienvenidos{
    background: #555;
    width: 55%;
    height: 530px;
    border-radius: 5px;
    float: left;
    margin-top: 10%;
    margin-left: auto;
}

#bienvenidos h2{
    font-size: 48px;
    margin: 2% 7%;
}

#bienvenidos p{
    margin: 2% 7%;
    font-size: 28px;
}

#bienvenidos #reservas-activas{
    padding: 20px;
}

.img img{
    position: absolute;
    height:455px; 
    width: 35%; 
    border-radius: 15px;
    border: 3px solid lightslategray;
    margin-top: 10.2%;
    margin-bottom: 5%;
}

.enlaces a{
    text-align: center;
    text-decoration: none;
    color: #573b8a;
    padding: 5px;
    border: 2px solid #573b8a;
}

@media (min-width:464px) {
    #bienvenidos{
        background: #fff;
        width: auto;
        height: 530px;
        border-radius: 5px;
        margin-top: 10%;
    }

}

